<template>
  <v-chip small close @click:close="clickClose" class="cnf__chip">

    <span class="cnf__function" v-if="notIdentityFn">
      {{functionString}}
    </span>

    <!-- <template v-if="notIdentityFn">(</template> -->
    <span class="cnf__field" :class="{'cnf__field--function-applied': notIdentityFn}">
      {{ fieldString }}
    </span>
    <!-- <template v-if="notIdentityFn">)</template> -->

    <span class="cnf__conditional">
      &nbsp;
      {{ conditionalString }}
      &nbsp;
    </span>

    <span class="cnf__input">
      {{ filter.input }}
    </span>

  </v-chip>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

import {
  VChip
} from 'vuetify/lib'

import {configs} from 'frxt'
import {
  Filter, TokenMapConfig,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig
} from 'frxt/dist/types'

@Component({
  // components: {
  //   VChip
  // }
})
export default class VCnfChip extends Vue {

  @Prop({default: 0}) readonly logicalAndFilterGroupIndex!: number
  @Prop({default: 0}) readonly logicalOrFilterGroupIndex!: number
  @Prop({
    default: () => ({
      logic: 'and',
      function: 'identity',
      field: '',
      conditional: 'is',
      input: ''
    })
  }) readonly filter!: Filter

  @Prop({default: ()=>({})}) readonly fieldMap!: TokenMapConfig
  @Prop({default: ()=>configs.defaultCNFLogicConfig}) readonly cnfLogicConfig!: CNFLogicConfig
  @Prop({default: ()=>configs.defaultCNFFunctionConfig}) readonly cnfFunctionsConfig!: CNFFunctionConfig
  @Prop({default: ()=>configs.defaultCNFConditionalConfig}) readonly cnfConditionalConfig!: CNFConditionalConfig

  @Emit('click:close')
  public clickClose(): [number, number] {
    return [this.logicalAndFilterGroupIndex, this.logicalOrFilterGroupIndex]
  }
  get notIdentityFn(): boolean {
    return this.filter.function !== 'identity'
  }
  get functionString(): string {
    let fn = this.filter.function
    return this.cnfFunctionsConfig[fn].display
  }
  get fieldString(): string {
    let field = this.filter.field
    if (field in this.fieldMap) return this.fieldMap[field]
    return field
  }
  get conditionalString(): string {
    let cond = this.filter.conditional
    return this.cnfConditionalConfig[cond].display
  }
}
</script>

<style lang="css">
.cnf__field--function-applied::before {
  content: '(';
  color: black;
}
.cnf__field--function-applied::after {
  content: ')';
  color: black;
}
</style>
