<template>
  <div style="display:inline">
    <template v-for="(filter, i) in filters">
      <v-icon
        small
        v-if="hasIcon(logicalAndFilterGroupIndex, i)"
        :class="{
          'cnf__logic--and': filter.logic === 'and',
          'cnf__logic--or' : filter.logic === 'or'
        }"
        :key="`filter-${logicalAndFilterGroupIndex}-${i}-logic-icon`"
      >
        <template>
          {{ logicString(i) }}&nbsp;
        </template>
      </v-icon>

      <template v-if="!i">&nbsp;(</template>
      <VCnfChip
        :logicalAndFilterGroupIndex="logicalAndFilterGroupIndex"
        :logicalOrFilterGroupIndex="i"
        :filter="filter"
        :fieldMap="fieldMap"
        :cnfLogicConfig="cnfLogicConfig"
        :cnfFunctionsConfig="cnfFunctionsConfig"
        :cnfConditionalConfig="cnfConditionalConfig"
        :key="`filter-${logicalAndFilterGroupIndex}-${i}-chip`"
        @click:close="clickClose"
      />
      <template v-if="i === filters.length-1">)&nbsp;</template>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

import {
  VIcon
} from 'vuetify/lib'

import {configs} from 'frxt'
import {
  Filter, TokenMapConfig,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig
} from 'frxt/dist/types'

import VCnfChip from './VCnfChip.vue'

@Component({
  components: { VCnfChip }
})
export default class VCnfOrGroup extends Vue {
  @Prop({default: 0}) readonly logicalAndFilterGroupIndex!: number
  @Prop({
    default: () => ([])
  }) readonly filters!: Filter[]

  @Prop({default: ()=>({})}) readonly fieldMap!: TokenMapConfig
  @Prop({default: ()=>configs.defaultCNFLogicConfig}) readonly cnfLogicConfig!: CNFLogicConfig
  @Prop({default: ()=>configs.defaultCNFFunctionConfig}) readonly cnfFunctionsConfig!: CNFFunctionConfig
  @Prop({default: ()=>configs.defaultCNFConditionalConfig}) readonly cnfConditionalConfig!: CNFConditionalConfig

  @Emit('click:close')
  public clickClose([i, j]:[number, number]): [number, number] {
    return [i, j]
  }

  public hasIcon(i:number, j:number): boolean {
    let f = this.filters[j]
    return (i !== 0 && f.logic === 'and' || j !== 0) as boolean
  }

  public logicString(i:number): string {
    let f = this.filters[i]
    let logic = f.logic
    return this.cnfLogicConfig[logic].display as string
  }


}
</script>

<style lang="css">
.cnf__chip--first-or::before {
  content: '('
}
.cnf__chip--last-or::after {
  content: ')'
}
</style>
