<template>
  <th @click="click">
    <v-col>
      <v-hover v-slot:default="{ hover }">
        <div class="d-inline-flex">
          <span class="align-self-center">
            {{fieldText}}
          </span>
          <v-btn icon text class="smooth-transition">
            <v-badge :color="hover?'primary':'transparent'">
              <template v-slot:badge>
                <span>
                  {{fieldSortNumber + 1}}
                </span>
              </template>
              <v-icon :class="{'no-opacity': !(hover || fieldSortNumber!==-1)}">
                {{fieldSortIcon}}
              </v-icon>
            </v-badge>
          </v-btn>
        </div>
      </v-hover>
    </v-col>
  </th>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

import {
  VCol, VHover, VBtn, VBadge, VIcon
} from 'vuetify/lib'

import {
  Field
} from 'frxt/dist/types'


@Component({
  components: { }
})
export default class VRecordsTableHeaderCell extends Vue {
  @Prop({}) readonly field!: Field
  @Prop({}) readonly fieldText!: string
  @Prop({default: 0}) readonly fieldSortNumber!: number
  @Prop({default: 'mdi-arrow-up'}) readonly fieldSortIcon!: string

  @Emit()
  public click(): Field {
    return this.field as Field
  }
}
</script>

<style lang="css">
.smooth-transition {
  transition: all .4s ease-in-out;
}
.smooth-transition  * {
  transition: all .4s ease-in-out;
}

.no-opacity {
  opacity: 0
}
</style>
