<template>
  <div>
    <template v-for="(orFilters, i) in cnfGroupedFilters">
      <VCnfOrGroup
        :key="`logical-and-group-${i}`"
        :logicalAndFilterGroupIndex="i"
        :filters="orFilters"
        :fieldMap="fieldMap"
        :cnfLogicConfig="cnfLogicConfig"
        :cnfFunctionsConfig="cnfFunctionsConfig"
        :cnfConditionalConfig="cnfConditionalConfig"
        @click:close="clickClose"
      />
    </template>

    <template v-if="regex !== ''">
      <v-icon small
        v-if="cnfGroupedFilters.length !== 0"
        class="cnf__logic--and"
        :key="`regex-icon`"
      >
        <template>
          {{ andLogicString }}
        </template>
      </v-icon>
      <v-chip close small @click:close="clickCloseRegEx">
        <var>regex:</var>&nbsp;<kbd>/{{regex}}/gi</kbd>
      </v-chip>
    </template>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import {
  VIcon, VChip
} from 'vuetify/lib'

import {configs, groupByConjunctiveNormalForm} from 'frxt'
import {
  TokenMapConfig, Filter,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig
} from 'frxt/dist/types'

import VCnfOrGroup from './VCnfOrGroup.vue'

export default Vue.extend({
  components: { VCnfOrGroup, VIcon, VChip },
  props: {
    filters: {
      type: Array as PropType<Filter[]>,
      default: () => ([])
    },
    fieldMap: {
      type: Object as PropType<TokenMapConfig>,
      default: ()=>({})
    },
    cnfLogicConfig: {
      type: Object as PropType<CNFLogicConfig>,
      default: ()=>configs.defaultCNFLogicConfig
    },
    cnfFunctionsConfig: {
      type: Object as PropType<CNFFunctionConfig>,
      default: ()=>configs.defaultCNFFunctionConfig
    },
    cnfConditionalConfig: {
      type: Object as PropType<CNFConditionalConfig>,
      default: ()=>configs.defaultCNFConditionalConfig
    },
    regex: {
      type: String,
      default: ''
    }
  },
  methods: {
    clickClose([i, j]:[number, number]): void {
      let loc = 0
      for (let k = 0; k < i; k++) {
        loc += this.cnfGroupedFilters[k].length
      }
      loc += j
      this.$emit('click:close', loc)
    },
    clickCloseRegEx() {
      this.$emit('click:close:regex', true)
    }
  },
  computed: {
    andLogicString(): string {
      let logic = 'and'
      return this.cnfLogicConfig[logic].display
    },
    cnfGroupedFilters() {
      return groupByConjunctiveNormalForm(this.filters)
    }
  }
})
</script>

<style lang="css">
.cnf__logic--and {
  color: #0072ff !important;
}
.cnf__logic--or {
  color: #00c6ff !important;
}

.cnf__field {
  color: #f83600;
}

.cnf__function {
  color: black;
}
</style>
