<template>
  <v-col class="py-0">
    <v-row class="py-0">
      <v-col v-show="showConfig" :cols="(stackedLayout||currentOption==='')?12:6">
        <v-select
          dense
          :items="configurableOuterKeys"
          v-model="currentOption"
          outlined
          label="Adjust configuration of"
        ></v-select>
      </v-col>
      <v-col v-show="showConfig && currentOption!==''" :cols="stackedLayout?12:6">
        <v-select
          dense
          outlined
          :items="currentOptionConfigs"
          :value="extractorConfig[currentOption]"
          @input="updateOptions"
          item-text="text"
          item-value="value"
          label="to"
        ></v-select>
      </v-col>
    </v-row>
  </v-col>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";

import {
  VCol, VRow, VSelect
} from 'vuetify/lib'

import {configs, identity} from 'frxt'

import {
  ExtractorConfig
} from 'frxt/dist/types'

export default Vue.extend({
  components: {
    VCol, VRow, VSelect
  },
  props: {
    extractorConfig:{
      type: Object,
      default: () => ({})
    },
    functionLookup: {
      type: Object,
      default: () => ({})
    },
    stackedLayout: {
      type: Boolean,
      default: true
    }
  },
  created() {
    this.populateDefaults()
    this.change()
  },
  watch: {
    extractorConfig: function(newConfig:object, oldConfig:object):void {
      this.populateDefaults()
    }
  },
  data: () => ({
    currentOption: '',
    showConfig: true,
    selections: {},
    renderFunctions: {} as ExtractorConfig,
    sortByFunctions: {} as ExtractorConfig,
    filterFunctions: {} as ExtractorConfig,
  }),
  methods: {
    updateOptions(innerKey:string): void {
      this.$set(this.selections, this.currentOption, innerKey)
      let currentConfig = this.extractorConfig[this.currentOption][innerKey]
      let opts = ['render', 'filter', 'sortBy']

      for (let i = 0; i < opts.length; i++) {
        let t = opts[i]
        let cfg = currentConfig[`${t}Config`]

        let func = this.functionLookup[cfg.functionName]
        let f
        if (func === undefined) {
          f = identity
        } else {
          f = func({...cfg.params})
        }
        this.$set(this[`${t}Functions`], this.currentOption, f)
      }
      this.change()
    },

    populateDefaults(): void {
      let newKeys = false
      let selections = {...this.selections}
      let functions = {
        renderFunctions:{...this.renderFunctions},
        filterFunctions:{...this.sortByFunctions},
        sortByFunctions:{...this.filterFunctions},
      }

      let outerKeys = Object.keys(this.extractorConfig)
      let opts = ['render', 'filter', 'sortBy']

      outerKeys.forEach((k, i)=>{
        let c = this.extractorConfig[k]
        let innerKeys = Object.keys(c)

        let s = innerKeys[0]

        if (Object.keys(selections).indexOf(s)>=0) return
        newKeys = true
        selections[k] = s

        for (let i = 0; i < opts.length; i++) {
          let t = opts[i]
          let cfg = c[s][`${t}Config`]

          let func = this.functionLookup[cfg.functionName]
          let f
          if (func === undefined) {
            f = identity
          } else {
            f = func({...cfg.params})
          }

          functions[`${t}Functions`][k] = f
        }
      })

      this.selections = Object.assign({}, selections)

      for (let i = 0; i < opts.length; i++) {
        let t = opts[i]
        this[`${t}Functions`] = Object.assign({}, functions[`${t}Functions`])
      }

      if (newKeys) {
        this.change()
      }
    },
    change(): void {
      this.$emit('change', {
        renderFunctions: this.renderFunctions,
        sortByFunctions: this.sortByFunctions,
        filterFunctions: this.filterFunctions,
        selections: this.selections
      })
    }
  },

  computed: {

    outerKeys(): string[] {
      return Object.keys(this.extractorConfig)
    },

    currentInnerKeys(): string[] {
      if (this.currentOption === '') return []
      if (!(this.currentOption in this.extractorConfig)) return []
      return Object.keys(this.extractorConfig[this.currentOption])
    },

    currentOptionConfigs(): object {
      if (this.currentOption === '') return []
      return this.currentInnerKeys.map((k)=>{
        let currentConfigOptions = this.extractorConfig[this.currentOption]
        return {
          text: `${this.currentOption} by ${k}`,
          value:k
        }
      })
    },

    configurableOuterKeys(): string[] {
      return this.outerKeys.filter((k)=>{
        return Object.keys(this.extractorConfig[k]).length > 1
      })
    }

  }

})
</script>

<style lang="css">

</style>
