<template>
  <v-text-field
    v-model="input"
    :label="label"
    :append-icon="appendIcon"
    @keyup.enter="filtersFromText"
    :persistent-hint="persistentHint"
    :hint="hint"
    clearable
  >
  </v-text-field>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";

import {
  VTextField
} from 'vuetify/lib'

import {extractFiltersFromText, configs} from 'frxt'
import {
  TokenMapConfig,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig,
} from 'frxt/dist/types'

export default Vue.extend({
  components: {
    VTextField
  },
  props: {
    tknFieldMap: {
      type: Object as PropType<TokenMapConfig>,
      default: ()=>({}),
    },
    tknFunctionMap: {
      type: Object as PropType<TokenMapConfig>,
      default: configs.defaultCNFFunctionMap,
    },
    tknConditionalMap: {
      type: Object as PropType<TokenMapConfig>,
      default: configs.defaultCNFConditionalMap,
    },
    fieldTokens: {
      type: Array as PropType<string[]|undefined>,
      default: undefined,
    },
    functionTokens: {
      type: Array as PropType<string[]|undefined>,
      default: undefined,
    },
    conditionalTokens: {
      type: Array as PropType<string[]|undefined>,
      default: undefined,
    },
    PunctuationPattern: {
      type: [RegExp, String],
      default: configs.PunctuationPattern,
    },
    cnfLogicConfig: {
      type: Object as PropType<CNFLogicConfig>,
      default: configs.defaultCNFLogicConfig,
    },
    cnfFunctionsConfig: {
      type: Object as PropType<CNFFunctionConfig>,
      default: configs.defaultCNFFunctionConfig,
    },
    cnfConditionalConfig: {
      type: Object as PropType<CNFConditionalConfig>,
      default: configs.defaultCNFConditionalConfig,
    },
    debug: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    hint: `type statements in the form of 'logic field (function) test value'.`,
    label: `Free Text`,
    persistentHint: true,
    appendIcon: `mdi-filter`,
    input: '',
  }),
  methods: {
    filtersFromText(): object {
      let [valid, error] = extractFiltersFromText({
          input: this.input,
          tknFieldMap:this.tknFieldMap,
          tknFunctionMap:this.tknFunctionMap,
          tknConditionalMap:this.tknConditionalMap,
          fieldTokens:undefined,
          functionTokens:undefined,
          conditionalTokens:undefined,
          scrubInputPattern:this.PunctuationPattern,
          cnfLogicConfig:this.cnfLogicConfig,
          cnfFunctionsConfig:this.cnfFunctionsConfig,
          cnfConditionalConfig:this.cnfConditionalConfig,
          debug:this.debug
      })
      this.input = ''
      this.$emit('filters-from-text', {valid, error})
    }
  }
})
</script>

<style lang="css" scoped>
</style>
