<template>
  <v-app>
    <v-navigation-drawer permanent app clipped>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Examples
          </v-list-item-title>
          <!-- <v-list-item-subtitle>
            subtext
            :to="item.href"

          </v-list-item-subtitle> -->
        </v-list-item-content>
      </v-list-item>

      <v-list dense nav>
        <v-list-item
          v-for="item in items"
          :key="item.text"
          link nuxt
          @click="item.href === null ? openurl() : $router.push(item.href)"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar clipped-left fixed app>
      <v-toolbar-title v-text="title" @click="$router.push('/')"/>
      <v-spacer />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer fixed app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    title: 'VFrxt',
    items: [
      {
        text: 'components',
        icon: 'mdi-video-input-component',
        href: '/components'
      },
      {
        text: 'dummy data',
        icon: 'mdi-database',
        href: '/example'
      },
      {
        text: 'cards',
        icon: 'mdi-cards',
        href: '/cards'
      },
      {
        text: 'ice cream',
        icon: 'mdi-ice-cream',
        href: '/ice-cream'
      },
      {
        text: 'documentation',
        icon: 'mdi-file-multiple',
        href: null
      },

    ]
  }),
  methods: {
    openurl() {
      window.open('https://sumneuron.gitlab.io/vfrxt/docs/index.html', '_blank')
    }
  }
}
</script>
