<template>
<v-row>
  <v-col cols="12">
    <VRecordsTable
      :json="json"
      :fieldRenderFunctions="fieldRenderFunctions"
      :fieldMap="fieldMap"
      :functionLookup="functionLookup"
      :extractorConfig="extractorConfig"
    >      
    </VRecordsTable>
  </v-col>
</v-row>
</template>

<script>
// import VRecordsTable from '@/components/VRecordsTable.vue'
import {VRecordsTable} from '../dist/vfrxt.umd.js'
import json from '@/static/dummy-data.json'
import {
  fieldRenderFunctions,
  fieldMap,
  functionLookup,
  extractorConfig,
} from '@/static/dummy-configs.js'



export default {
  components: {
    VRecordsTable
  },
  data: () => ({
    json,
    fieldRenderFunctions,
    fieldMap,
    functionLookup,
    extractorConfig,
  })
}
</script>
