<template>
<v-row>
  <v-col cols="12">
    <v-card flat tile>
      <v-card-title primary-title>
        What is and why should you use VFrxt?
      </v-card-title>
      <v-card-text>
        <p>
          VFrxt is a small component library to bring the utility of
          the typescript library frxt to Vue and Vuetify. Although
          there are several components in VFrxt, the primary component
          is VRecordsTable. VRecordsTable is an extension of Vuetify's
          VDataTable and through its iterations of development (json-ctrl, valpha
          and now vfrxt) has had features in advance of their integration
          into vuetify (e.g. TimSort – multiple column sorting). The key features
          of VFrxt are those of the frxt library; namely
        </p>
        <ul>
          <li>A freetext input that extracts logical filters</li>
          <li>Conjunctive Normal Form Filtering of SQL-esque json data</li>
          <li>TimSort of SQL-esque json data</li>
        </ul>
        <p>
          While the term "SQL-esque" data may at first appear limiting, there
          are robust configuration options to allow for far more complex internal
          structure.
        </p>
        <p>
          The supporing frxt library can be found <a href="https://sumneuron.gitlab.io/frxt/">here</a>
          with its corresponding <a href="https://gitlab.com/sumneuron/frxt/">repo</a>.
        </p>
        <p>
          Vue dev tools are enabled so that you may inspect how things work.
        </p>
      </v-card-text>
    </v-card>
  </v-col>
</v-row>
</template>

<script>
import {VRecordsTable} from '../dist/vfrxt.umd.js'
import {mapState, mapActions, mapGetters} from 'vuex'
import {CardTooltip} from 'vscry'
import VueJsonPretty from 'vue-json-pretty'
import {
  fieldOrder,
  fieldRenderFunctions,
  fieldSortByFunctions,
  fieldFilterFunctions,
  fieldSynonymMap,
  functionLookup,
  extractorConfig
} from '@/static/cards.config.js'


export default {
  components: {
    VRecordsTable, CardTooltip, VueJsonPretty
  },
  data: () => ({
    fieldOrder,
    fieldSynonymMap,
    fieldRenderFunctions,
    fieldSortByFunctions,
    fieldFilterFunctions,
    functionLookup,
    extractorConfig,

  }),
  computed: {
    ...mapGetters(['hasNoCards']),
    ...mapState(['snackText', 'cards', 'tooltipData']),
    exampleRecord() {
      if (this.hasNoCards) return {}
      return this.cards[Object.keys(this.cards)[0]]
    }
  },

  methods: {
    ...mapActions(['fetchKeywordCards', 'updateTooltip']),
  },
  mounted() {
    if (this.hasNoCards) {
      this.fetchKeywordCards({})
    }
  }
}
</script>

<style >
.card-img {
  transition: all 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}
</style>
